@import url('../../themes/theme.css');

.defect-master-add,.defect-master-save{
    background: linear-gradient(149deg, rgba(247,147,29,1) 0%, rgba(245,114,52,1) 63%);
    color: var(--white) !important;
    font-size: var(--unnamed-font-size-16) !important;
    border-radius: 20px !important;
    padding: 5px 15px !important;
}

.defect-master-add , .defect-master-save:hover{
    color: var(--white) !important;
}

.defect-master-cancel {
    background-color: var(--inactive-button) !important;
    color: var(--white) !important;
    font-size: var(--unnamed-font-size-14) !important;
    border-radius: 20px !important;
    padding: 5px 15px !important;
}

.defect-master-main .form-control{
    background-color: #F8F8F8 !important;
    border: 0;
}

.defect-master-add-new input{
    background-color: #F8F8F8 !important;
    font-size: var(--unnamed-font-size-14);
}

.defect-master-add-new select{
    background-color: #F8F8F8 !important;
    font-size: var(--unnamed-font-size-14);
}

.defect-master-table table thead tr th{
    font-weight: 600 !important;
}

.defect-master-table{
    width: 100%;
    height: 450px !important;
}

#table-header{
    position: sticky;
    top: 0;
    background-color: white;
}

.table tbody tr td{
    color: var(--unnamed-color-676767);
}


/* ant-lading-icon */
.ant-spin-dot-item{
    background-color: #F57234 !important;
}