/* scheduler */

.scheduler-main {
    position: relative;
}


.ant-picker-calendar{
    padding: 10px !important;
}


/* agenda-button-styles */
.scheduler-main .agenda-button{
    background-color: #F4693A !important;
    color: white;
    position: absolute;
    top: 22px;
    left: 20px;
}